<div style="background-image: linear-gradient(to bottom, #8d2ff2, #a22ef2, #b52ef2, #c72ef2, #d82ff2);" id="div-centro" > 
    <mat-toolbar>
        <span id="titulo-toolbar">  ★ ☆  S O B R E ·  M I  ☆ ★ </span>

        <button routerLink = '/home' mat-icon-button color="warn" aria-label="Volver a casa">
            <mat-icon>home</mat-icon>
        </button>
        <button routerLink = '/login' mat-icon-button color="warn" aria-label="Cerrar-Sesión">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>


    <div id="div-info">
        
        <img id="img-autor" src="assets/img-autor.jpeg" alt="Imagen super real de autor">
        
        <mat-card id="card-info">
            <mat-card-content>
                <h2 style="font-size: xx-larger;">¡Hola, soy Jaz! (de la foto sí sí)</h2>
                <p style="font-size: x-large;">Soy estudiante de programación en la Universidad Tecnológica Nacional,
                ¡en Argentina! Te invito a navegar por mi sala de juegos en la que vas a
                poder probar tus capacidades cognitivas y motrices junto a los juegos de tu infancia:<br> 
                - EL AHORCADO ✍<br>- PREGUNTADOS🎬 (edición Studio ghibli)<br>- ¿MAYOR O MENOR?🃏
                <br>y por último CARRERA EN ORDEN🧠, que pone a prueba tu mente y rapidez. Presiona los números en
                secuencia ¿Qué tan rápido podrás completarla?
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
