table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2rem;
    border: 1px solid rgb(51, 87, 232);
}
th {
    background-color: #3f51b5;
    color: rgb(51, 87, 232);
    font-size: 1.3rem;
    text-align:left;
}
td, th {
    padding: 16px;
    border: 1px solid rgb(51, 87, 232);
}

td{
    text-align: center;
}