<mat-card id="chat-card">
    <div id="div-titulo">
        <mat-card-title>💬 Chat grupal</mat-card-title>
    </div>

    <mat-card-content id="chat-mensajes">
        <div *ngFor="let m of mensajes$ | async" class="mensaje">
            <strong>{{ m.usuario }}:</strong> {{ m.texto }}
            <br />
            <small>{{ m.fecha?.toDate() | date:'shortTime' }}</small>

        </div>
        </mat-card-content>

        <div id="chat-input">
            <mat-form-field style="flex-grow: 1; margin-right: 10px">
                <input id="input-mensajes" (keydown.enter)="enviarMensaje()" matInput [(ngModel)]="nuevoMensaje" placeholder="Escribí algo...">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="enviarMensaje()">Enviar</button>
        </div>

</mat-card>
